# START - Disable server signature #
ServerSignature Off
# END - Disable server signature #

RewriteOptions inherit

RewriteEngine on
<IfModule mod_rewrite.c>

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index\.php
RewriteRule ^(.*)index.php$ /$1 [R=301,L]
# add trailing slash
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^.*[^/]$ /$0/ [L,R=301]
RewriteCond %{REQUEST_URI} !public\/
RewriteRule (.*) \/public\/$1 [L]
</IfModule>
<IfModule mod_rewrite.c>
 RewriteCond %{REQUEST_URI} /iphone/?$ [NC,OR]
 RewriteCond %{REQUEST_URI} /mobile/?$ [NC,OR]
 RewriteCond %{REQUEST_URI} /mobi/?$ [NC,OR]
 RewriteCond %{REQUEST_URI} /m/?$ [NC]
 RewriteRule .* https://www.teljoy.ninja-staging.co.za/ [R=301,L]
</IfModule>